<div class="form-group">
    <label class="col-sm-2 control-label">熟悉的仪器一：</label>
    <div class="col-sm-3">
        <select name="ins1_cls1" class="form-control" ng-model="model.ins1_cls1">
            <option ng-repeat="x in imsortmainlist1" value="{{x.IMMSortID}}">{{x.IMMSortName}}</option>
        </select>
    </div>
    <div class="col-sm-3" style="line-height: 34px;">
        <select class="form-control" name="ins1_cls2" ng-model="model.ins1_cls2">
            <option ng-repeat="x in ins1_cls2_list" value="{{x.IMType}}">{{x.IMNote}}</option>
        </select>
    </div>
    <div class="col-sm-4" style="line-height: 34px;">
        <select class="form-control" name="ins1_cls3" ng-model="model.ins1_cls3">
            <option ng-repeat="x in ins1_cls3_list" value="{{x.IMType}}">{{x.IMNote}}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">熟悉的仪器二：</label>
    <div class="col-sm-3">
        <select name="ins2_cls1" class="form-control" ng-model="model.ins2_cls1">
            <option ng-repeat="x in imsortmainlist2" value="{{x.IMMSortID}}">{{x.IMMSortName}}</option>
        </select>
    </div>
    <div class="col-sm-3" style="line-height: 34px;">
        <select class="form-control" name="ins2_cls2" ng-model="model.ins2_cls2">
            <option ng-repeat="x in ins2_cls2_list" value="{{x.IMType}}">{{x.IMNote}}</option>
        </select>
    </div>
    <div class="col-sm-4" style="line-height: 34px;">
        <select class="form-control" name="ins2_cls3" ng-model="model.ins2_cls3">
            <option ng-repeat="x in ins2_cls3_list" value="{{x.IMType}}">{{x.IMNote}}</option>
        </select>
    </div>
</div>
<div class="form-group">
    <label class="col-sm-2 control-label">熟悉的仪器三：</label>
    <div class="col-sm-3">
        <select name="ins3_cls1" class="form-control" ng-model="model.ins3_cls1">
            <option ng-repeat="x in imsortmainlist3" value="{{x.IMMSortID}}">{{x.IMMSortName}}</option>
        </select>
    </div>
    <div class="col-sm-3" style="line-height: 34px;">
        <select class="form-control" name="ins3_cls2" ng-model="model.ins3_cls2">
            <option ng-repeat="x in ins3_cls2_list" value="{{x.IMType}}">{{x.IMNote}}</option>
        </select>
    </div>
    <div class="col-sm-4" style="line-height: 34px;">
        <select class="form-control" name="ins3_cls3" ng-model="model.ins3_cls3">
            <option ng-repeat="x in ins3_cls3_list" value="{{x.IMType}}">{{x.IMNote}}</option>
        </select>
    </div>
</div>